/* page header */
.appointment_header {
  text-align: left;
  margin-left: 7%;
  font-size: var(--large);
  font-family: var(--secondary_font);
  font-weight: bold;
  color: var(--first_color);
}
/* form */
.input_align {
  width: 80%;
}
.display_top {
  margin-top: 2.5%;
}
.display_bottom {
  margin-bottom: 2.5%;
}
/* display */
.text {
  color: var(--third_color);
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: var(--Medium);
}
.display {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  background-color: var(--secondary_color);
}
/* button */
.btn_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  margin-left: 19%;
  background-color: var(--secondary_color);
}

.btn_color {
  color: var(--first_color) !important;
}

.btn_textSize {
  font-size: var(--Medium);
  color: var(--third_color) !important;
}
/* image */
.appointment_img {
  width: 40rem;
  margin-top: -19%;
}
