body {
  background-color: var(--primary_color) !important;
}
.hospital_location_header {
  text-align: center;
  color: var(--first_color);
  font-family: var(--secondary_font);
  font-size: var(--large);
}
.image-container{
  border-right: 2px solid var(--tertiary_color) !important;
  overflow: hidden !important;
}

.col-sm-md-12{
   margin-left: 8rem !important;
  
}
.card{
  background-color: var(--primary_color) !important;
  color:var(--first_color) !important;
}
/* for image size*/
img{
  width: 15rem;
  height: 15rem;
}

.name{
  color: var(--tertiary_color);
}

@media only screen and (max-width: 700px) {
  .image-container{
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .col-sm-md-12{
    margin-left: 4rem !important;
 }

}