body {
  background-color: var(--primary_color) !important;
}
.hospital_location_header {
  text-align: center;
  color: var(--first_color);
  font-family: var(--secondary_font);
  font-size: var(--large);
}
/* .image-container{
  border-right: 2px solid var(--tertiary_color) !important;
  overflow: hidden !important;
}

.col-sm-md-12{
   margin-left: 8rem !important;
  
}
.card{
  background-color: var(--primary_color) !important;
  color:var(--first_color) !important;
} */
/* for image size
img{
  width: 15rem;
  height: 15rem;
}

.name{
  color: var(--tertiary_color);
}

@media only screen and (max-width: 700px) {
  .image-container{
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .col-sm-md-12{
    margin-left: 4rem !important;
 }

} */


.card_wrapper{
  width: 100%;
  height: 18em;
}
.location_box{
  width: 80%;
  height: 100%;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map_image{
  width: 40%;
  height: 100%;
}
.map{
  width: 100%;
  height: 100%;
}

.hospitalInfo{
  width: 40%;
  height: 100%;
}
.line{
  margin: auto;
  margin-top: 1em;
}
.hospitalInfo{
  padding: 3em;
}
.center_name{
  text-align: center;
  color: var(--first_color);
}
.yellow_color{
  color: var(--third_color);
}
.white_color{
  color: var(--first_color);
}

@media only screen and (max-width: 800px) {
  .location_box{
    flex-direction: column;
  }
  .hospital_location_header{
    font-size: var(--medium);
  }
  .card_wrapper{
    width: 100%;
    height: 30em;
  }
  .hospitalInfo{
    padding:0;
  }
  .location_data{
    font-size: var(--extra_extra_small);
  }
  .map_image{
    width: 90%;
    height: 100%;
  }
}