body {
    padding: 5% !important;
    background-color: var(--primary_color);
}

/* Common Button */
.common_btn {
    display: inline-block;
    width: 260px;
    padding: 10px 20px;
    border: 1px solid transparent;
    font-size: var(--extra_small);
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

/* Common Button Hover State*/
.common_btn:hover {
    transition: 0.5s;
    opacity: 0.8;
}

/* Log In Button */
.login_btn {
    border: 1px solid var(--secondary_color);
    background-color: var(--primary_color);
    color: var(--third_color);
}

/* Log In Button Hover State */
.login_btn:hover {
    border: 1px solid var(--primary_color);
    background-color: var(--secondary_color);
    color: var(--second_color);
}

/* Add Button */
.add_btn {
    border: 1px solid var(--primary_color);
    background-color: var(--secondary_color);
    color: var(--second_color);
}

/* Add Button Hover State */
.add_btn:hover {
    border: 1px solid var(--secondary_color);
    background-color: var(--primary_color);
    color: var(--third_color);
}

/* Input */
.common_input {
    width: 500px;
    padding: 10px 20px;
    border: 1px solid var(--secondary_color);
    background-color: var(--primary_color);
    color: var(--first_color);
    font-family: var(--primary_font);
    font-size: var(--extra_small);
    font-weight: 600;
}

/* Search Box */
.searchbox {
    position: relative;
    width: 25em;
    height: 2.5em;
    border-radius: 5em;
}

.search_input {
    position: absolute;
    top: 0;
    right: 0;
    width: 20em;
    height: 2.5em;
    border: 1px solid var(--secondary_color);
    border-radius: 5em;
}

.search_icon {
    position: absolute;
    top: 30%;
    left: 5em;
    font-size: var(--extra_small);
}

.search_text {
    position: absolute;
    top: 10%;
    left: 0;
    font-size: var(--extra_small);
}


/* File Chosen */
.add_file {
    display: flex;
    align-items: center;
    padding: 0.350rem 0.75rem;
    color: var(--first_color);
    font-family: 'Mulish', sans-serif;
    font-size: var(--extra_small);
    font-weight: 600;
}

.form-control-lg {
    border-radius: 0 !important;
}

.form-control {
    border: 1px solid var(--secondary_color) !important;
}