body{
    background-color: var(--primary_color) !important;
}

.cart{
    background-color: var(--secondary_color) !important;
    padding: 10px !important;
    border-radius: 1.5rem !important;
    border: 2px solid var(--tertiary_color) !important;
}
.header{
    color: var(--first_color);
}
.header:hover{
  color: var(--third_color);
}
.row{
    margin-bottom: 3rem;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
    padding: 10px;
    border-radius: 1.5rem;
    border: 2px solid var(--tertiary_color);
}

@media only screen and (max-width: 575px) {
    .row{
      margin-bottom: 1rem !important;
    }
 }