body {
    padding: 5% !important;
    background-color: var(--primary_color);
}

/* Table */
.table {
    font-family: var(--primary_font);
    font-size: var(--extra_small);
}

.table_bgcolor {
    background-color: var(--secondary_color);
    border-bottom: 1px solid var(--first_color);
}

tbody .row_bdr {
    font-size: var(--extra_extra_small);
    border-bottom: 1px solid var(--first_color) !important;
}