*{
    margin: 0;
    padding: 0;
}
.footer{
    position: relative;
    background-color: var(--secondary_color) ;
    font-family: var(--primary_font);
}
.backlogo_name{
    position: absolute;
    left: 25%;
    top: 30%;
    letter-spacing: 0.3em!important;
    font-size: var(--extra_large);
    color: var(--first_color);
    opacity: 0.05;
}
.link_color{
    color: var(--fourth_color);
}